{% extends 'base.html' %}

{% block content %}

<main class="container py-5"      >
<section class="card card-body">
   <h1 class="display-1 text-center">Home</h1>
<p>lorem ipsum dolor sit amet consectetur, adipisinig elit. Recusandae hic atque iusto rem voluptas reiciendis laboriosam cupiditate?
    alias, nisi optio laudantium nostrum molestiae delectus harum quasi.
    doloremque ipsa quis eaque esse molestias saepe. modi vel ducimus delectus.
</p> 
<div class="text-center">
<a class="btn btn-secondary" href="/signin/">
    signin
</a>
<a  class="btn btn-secondary" href="/signup/">
    signup
</a>
</div>
</section>
</main>

{% endblock  %}
